.human {
  position: absolute;
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  transform: translateY(6px);
}

.left {
  left: var(--space-4);
}

.right {
  right: var(--space-4);
}
