@use '@/styles/mixins' as *;

.panel {
  width: 250px;
  max-width: 250px;
  height: 100vh;
  background-color: #ebebeb;
  padding: var(--space-5);
  overflow: auto;
}

.section {
  margin: 0 0 10px 0;
  border-bottom: 1px solid var(--color-border);

  &:last-child {
    border: none;
  }
}

.subsection {
  margin-bottom: var(--space-4);
}

.title {
  font-weight: 500;
  margin-bottom: var(--space-5);
}

.subtitle {
  color: var(--color-text);
  margin-bottom: var(--space-1);
}

.label {
  color: var(--color-text);
  font-weight: 400;
  margin-bottom: var(--space-1);
}

.row {
  display: flex;
  justify-content: space-between;
  gap: var(--space-2);
  margin-bottom: var(--space-2);
}

.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1px;
}

.cta {
  margin-bottom: var(--space-10);
}

.panelTitle {
  margin-bottom: var(--space-4);
}

.editButtonWrapper {
  display: flex;
  margin-top: var(--space-4);
  padding-top: var(--space-4);
  border-top: 1px solid var(--color-border);

  button,
  a {
    flex: 1;
    width: 100%;
  }
}

.backgroundColorRow {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
