@use '@/styles/mixins' as *;

.panel {
  width: 250px;
  max-width: 250px;
  height: 100vh;
  background-color: var(--bgLight);
  padding: 20px;
  overflow: auto;
}

.section {
  margin: 0 0 10px 0;
  border-bottom: 1px solid var(--borderLight);

  &:last-child {
    border: none;
  }
}

.subsection {
  margin-bottom: 15px;
}

.title {
  @include tinySans();
  font-weight: 600;
  margin-bottom: 20px;
}

.subtitle {
  @include xtinySans();
  color: var(--grayDark);
  font-weight: 600;
  margin-bottom: 4px;
}

.label {
  @include xtinySans();
  color: var(--grayDark);
  font-weight: 600;
  margin-bottom: 2px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 8px;
}

.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1px;
}

.cta {
  margin-bottom: 40px;
}
