@use '@/styles/mixins' as *;

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  .hidden {
    display: none;
  }

  .span {
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-black);
    border-radius: var(--space-1);
    display: inline-block;
    position: relative;
    background-color: var(--color-white);
    transition: all 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--space-2);
      height: var(--space-2);
      background-color: var(--color-black);
      border-radius: var(--space-1);
      transform: scale(0) translate(-50%, -50%);
      transition: all 0.2s ease;
    }
  }

  .hidden:checked + .span::after {
    transform: scale(1) translate(-50%, -50%);
  }

  .hidden:checked + .span {
    background-color: var(--color-bg-muted);
    border-color: var(--color-black);
  }

  .label {
    @include tinySans();
    margin-left: var(--space-2);
    color: var(--color-black);
  }
}
