@use '@/styles/mixins' as *;

.wrapper {
  padding: 40px;
  position: relative;
}

.wall {
  color: var(--black);
  position: relative;
  outline: 1px solid var(--black);
  background: var(--white);
  box-sizing: border-box;
}
