@use '@/styles/mixins' as *;

.wrapper {
  padding: var(--space-10);
  position: relative;
}

.wall {
  color: var(--color-black);
  position: relative;
  outline: 1px solid var(--color-black);
  background: var(--color-white);
  box-sizing: border-box;
}
