@use '@/styles/mixins' as *;

.selectionBox {
  position: absolute;
  border: calc(1px / var(--scale-factor, 1)) dashed var(--color-accent);
  background-color: var(--borderBlueLight);
  opacity: 0.8;
  pointer-events: none;
}
