@use '@/styles/mixins' as *;

.content {
  padding: var(--space-16) 0 0 0;
}

.header {
  margin-bottom: var(--space-10);
}

.title {
  font-size: var(--text-huge);
}

.artist {
  margin: 0 0 var(--space-4);
  font-size: var(--text-xl);
  font-family: var(--font-serif);
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.cta {
  margin-top: var(--space-4);
  width: fit-content;
}

.button {
  width: auto;
  text-transform: uppercase;
}

.dates {
  font-size: var(--text-lg);
  color: var(--color-text-muted);
  margin: 0 0 var(--space-6);
}

.description {
  font-family: var(--font-serif);
  width: 100%;
  column-count: 2;
  column-gap: var(--space-14);
}

.error {
  color: var(--color-error-text);
  margin-bottom: var(--space-4);
}
