.tooltip {
  position: relative;
  display: inline-block;
}

.content {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-text);
  color: var(--color-white);
  padding: 5px 10px;
  border-radius: var(--space-1);
  font-size: var(--space-3);
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;
  border: 1px solid var(--color-text);
}

.content::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border: 7px solid transparent;
  border-top-color: var(--color-text);
}

.content::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid transparent;
  border-top-color: var(--color-text);
}
