@use '@/styles/mixins' as *;

.panel {
  position: fixed;
  bottom: 0;
  padding: 4px;
  border-radius: 4px 4px 0 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--black);
}

.options {
  display: flex;
  justify-content: space-between;
  gap: 4px;

  button {
    cursor: grab;
  }
}
