@use '@/styles/mixins' as *;

.panel {
  position: fixed;
  bottom: 0;
  padding: var(--space-1);
  border-radius: 4px 4px 0 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-black);
}

.options {
  display: flex;
  justify-content: space-between;
  gap: var(--space-1);

  button {
    cursor: grab;
  }
}
