.title {
  margin-bottom: var(--space-6);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.artistLink {
  font-family: var(--font-serif), var(--font-serif-fallback);
  text-decoration: none;
  font-size: var(--text-xl);

  &:hover {
    text-decoration: none;
  }
}

.empty {
  color: var(--color-text-primary);
}
