@use '@/styles/mixins' as *;

.button {
  cursor: pointer;
  width: 100%;
}

.outline {
  @include mediumSerif();
  padding: 10px 20px;
  background: transparent;
  color: var(--black);
  border: 1px solid var(--black);

  &:hover {
    background: var(--black);
    color: var(--white);
  }
}

.small {
  @include smallSans();
  padding: 5px 10px;
  background: var(--grayDarkest);
  color: var(--white);
  border: 1px solid var(--grayDarkest);
  border-radius: 3px;

  &:hover {
    background: var(--black);
    border: 1px solid var(--black);
  }
}
