@use '@/styles/mixins' as *;

.panel {
  width: 250px;
  max-width: 250px;
  height: 100vh;
  background-color: var(--color-bg-gray);
  padding: var(--space-5);
  overflow: auto;
}

.section {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid var(--color-border);

  &:last-child {
    border: none;
  }
}

.subsection {
  margin-bottom: var(--space-3);
}

.row {
  display: flex;
  justify-content: space-between;
  gap: var(--space-3);
  margin-bottom: var(--space-3);
}

.item {
  flex: 1;
}

.artworks {
  list-style: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.artwork {
  color: var(--color-black);
  margin: 0 0 10px 0;
}

.selected {
  color: var(--color-accent);
}

