@use '@/styles/mixins' as *;

.wrapper {
  position: relative;
}

.input {
  @include smallSans();
  width: 100%;
  padding: 2px 6px;
  border-radius: var(--space-1);
  background-color: var(--color-white);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.withIcon {
  padding: 2px 3px 2px 25px;
}

.icon {
  position: absolute;
  left: var(--space-1);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.rotate90 {
  transform: translateY(-50%) rotate(90deg);
}
