@use '@/styles/mixins' as *;

.wrapper {
  position: relative;
}

.input {
  @include smallSans();
  width: 100%;
  padding: 2px 6px;
  border-radius: var(--space-1);
  background-color: var(--color-white);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.withIcon {
  padding: 2px 3px 2px 25px;
}

.icon {
  position: absolute;
  left: var(--space-1);
  top: var(--space-2);
}
.rotate90 {
  top: var(--space-1);
  left: var(--space-1);
  transform: rotate(90deg);
  transform-origin: center;
}
