@use '@/styles/mixins' as *;

.inputContainer {
  position: relative;
}

.input {
  @include smallSans();
  width: 100%;
  padding: 4px 6px;
  border-radius: var(--space-1);
  background-color: var(--color-white);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.withIcon {
  padding: 4px 6px 4px 25px;
}

.icon {
  position: absolute;
  left: var(--space-1);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
}

.rotate90 {
  transform: translateY(-50%) rotate(90deg);
}

.label {
  display: block;
  font-size: 10px;
  color: var(--color-text-secondary);
  margin-bottom: 2px;
}
