.content {
  flex: 1 0 auto;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: var(--space-4) 0;
  width: calc(100% - var(--site-padding) * 2);

  @media (max-width: 1020px) {
    width: calc(100% - var(--space-6) * 2);
  }
}
