@use '@/styles/mixins' as *;

.panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  background-color: var(--bgLight);
  z-index: 2;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.cta {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  border-bottom: 1px solid var(--borderLight);
  padding-bottom: 16px;
}

.author {
  @include largeSerif();
  text-transform: uppercase;
  margin-bottom: 5px;
}

.title {
  @include mediumSerif();
  font-style: italic;
  margin-bottom: 5px;
}

.year {
  @include mediumSerif();
}

.description {
  @include mediumSerif();
}

.dimensions {
  @include mediumSerif();
}
