@use '@/styles/mixins' as *;

.handle {
  position: absolute;
  width: calc(var(--space-2) / var(--scale-factor, 1));
  height: calc(var(--space-2) / var(--scale-factor, 1));
  background-color: var(--color-white);
  border: calc(1px / var(--scale-factor, 1)) solid var(--color-accent);
  cursor: default;
  z-index: 20;
}

// Corner handles
.top-left {
  top: calc(-4px / var(--scale-factor, 1));
  left: calc(-4px / var(--scale-factor, 1));
  cursor: nwse-resize;
}

.top-right {
  top: calc(-4px / var(--scale-factor, 1));
  right: calc(-4px / var(--scale-factor, 1));
  cursor: nesw-resize;
}

.bottom-left {
  bottom: calc(-4px / var(--scale-factor, 1));
  left: calc(-4px / var(--scale-factor, 1));
  cursor: nesw-resize;
}

.bottom-right {
  bottom: calc(-4px / var(--scale-factor, 1));
  right: calc(-4px / var(--scale-factor, 1));
  cursor: nwse-resize;
}
