.dashboard {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main {
  padding: 0 20px;
  width: 100vw;
  height: 100vh;

  button {
    max-width: 150px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--grayLight);
}

.subtitle {
  margin-bottom: 20px;
}

.exhibitions {
  padding: 20px 0;
  border-bottom: 1px solid var(--grayLight);
  min-height: 400px;
}

.list {
  padding: 30px 0;
}

.error {
  color: red;
  margin-top: 1rem;
}

.exhibitionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.exhibitionItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--grayLight);
}
