@use '@/styles/mixins' as *;

.picker {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  width: 100%;
  padding-top: var(--space-1);

  input[type='color'] {
    border: none;
    padding: 0;
    height: 14px;
    width: 14px;
    cursor: pointer;
    border-radius: var(--radius-sm);

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: 1px solid #333333;
      border-radius: var(--radius-sm);
    }

    &::-moz-color-swatch {
      border: 1px solid #333333;
      border-radius: var(--radius-sm);
    }
  }
}

.label {
  @include tinySans();
  color: var(--color-text-primary);
}
