@use '@/styles/mixins' as *;

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--white);
  cursor: grab;

  &.editing {
    background-color: var(--bgLight);
  }
}

.content {
  width: 100%;
  height: 100%;
  outline: none;
  font-weight: 400;
  cursor: default;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  cursor: grab;

  &.editable {
    background-color: var(--bgLight);
    cursor: text;
  }
}

.empty {
  @include smallSans();
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
