@use '@/styles/mixins' as *;

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: transparent;
  left: var(--space-5);
  top: var(--space-5);
  width: var(--space-10);
  z-index: 2;
  gap: var(--space-1);
  padding: var(--space-1);
  border-radius: var(--space-1);

  button {
    background-color: rgba(255, 255, 255, 1);

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}
