.header {
  border-bottom: 1px solid var(--color-border);
  background: var(--white);
<<<<<<< HEAD
  padding: var(--space-10) 0;
  max-width: var(--header-max-width);
  margin: 0 auto;
  width: calc(100% - var(--site-padding) * 2);

  @media (max-width: 1020px) {
    width: calc(100% - var(--space-6) * 2);
  }
=======
  padding: var(--space-8) 0;
>>>>>>> develop
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
<<<<<<< HEAD
=======
  font-family: var(--font-heading), var(--font-heading-fallback);
  font-size: var(--text-lg);
  font-weight: var(--font-light);
>>>>>>> develop
  color: var(--color-brand);
  text-transform: uppercase;
<<<<<<< HEAD
  letter-spacing: 4px;
=======
  letter-spacing: 6px;
>>>>>>> develop

  &:hover {
    text-decoration: none;
  }
}
